@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-Variable.woff2") format("woff2-variations");
  src: url("../fonts/NunitoSans-Variable.woff2") format("woff2")
    tech("variations");
  font-weight: 300 700;
}

@font-face {
  font-family: "WorkSans-Light";
  src: url("../fonts/WorkSans-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "WorkSans-Regular";
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "WorkSans-Medium";
  src: url("../fonts/WorkSans-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "WorkSans-SemiBold";
  src: url("../fonts/WorkSans-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

body {
  font-family: "NunitoSans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #0e0d0d;
  background-color: #fdfdf0;
  line-height: 1.35;
}

.container {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}

.container-big {
  max-width: 1840px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__inner {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.menu__list {
  display: flex;
  gap: 0 30px;
}

.menu__link {
  text-transform: uppercase;
}

.header__contacts {
  display: inline-block;
  padding: 10px 40px;
  text-transform: uppercase;
  background-color: #0e0d0d;
  color: #fff;
  border-radius: 50px;
  /* font-size: 22px; */
}

.main {
  margin-bottom: 180px;
}

.about__top {
  color: #fdfdf0;
  text-align: center;
  background-image: url(/images/about-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  text-transform: uppercase;
  min-height: 748px;
}

.about__title {
  font-family: "WorkSans-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 250px;
  line-height: 1;
  padding-top: 60px;
}

.about__text {
  font-family: "WorkSans-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
}

.about__achievements {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
  margin-top: -55px;
}

.about__achievement {
  max-width: 580px;
  background-color: #f4f4e7;
  border-radius: 20px;
  padding: 14px 10px;
  display: flex;
  gap: 0 25px;
}

.about__achievement-imbox {
  min-width: 214px;
  position: relative;
}

.about__achievement-arrow {
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: 0;
}

.about__achievement-title {
  margin-bottom: 20px;
  font-weight: 500;
  padding-top: 10px;
}

.about__achievement-text {
  font-size: 14px;
  font-weight: 300;
}

.text--bold {
  font-weight: 600;
}

.text--color {
  color: #f2a531;
  font-weight: 600;
}

.about__stats {
  border-radius: 20px;
  background-color: #f4f4e7;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  padding: 30px 18px;
  gap: 0 90px;
}

.about__stats-item {
  text-align: center;
  width: 300px;
}

.about__stats-item dt {
  font-family: "WorkSans-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 15px;
}

.about__stats-item dd {
  margin: 0;
  color: #0e0d0d;
  font-size: 22px;
  opacity: 0.7;
}

.about__progress-text {
  font-family: "WorkSans-Light", sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 40px;
}

.about__progress-text span {
  font-family: WorkSans-Medium, sans-serif;
  font-weight: 500;
}

.about__progress-box {
  display: flex;
  gap: 0 140px;
  padding: 100px;
}

.about__progress-boxtext {
  font-size: 18px;
  margin-bottom: 45px;
  padding-right: 50px;
}

.about__progress-table {
  border-top: 1px solid #252323;
}

.about__progress-item {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #252323;
  align-items: center;
}

.about__progress-item + .about__progress-item {
  margin-top: 20px;
}

.about__progress-item dt {
  font-size: 18px;
  font-weight: 500;
}

.about__progress-item dt span {
  color: #f2a531;
  font-weight: 500;
}

.about__progress-item dd {
  opacity: 0.6;
}

.products__wrapper {
  background-color: #f4f4e7;
  border-radius: 20px;
  padding: 50px 0;
}

.products__title {
  font-family: "WorkSans-Medium", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-bottom: 35px;
}

.products__item {
  border-radius: 10px;
  min-height: 322px;
  margin-bottom: 12px;
  padding: 50px 24px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.products__item-btn {
  position: absolute;
  bottom: -12px;
  left: -8px;
  border: none;
  background-color: transparent;
}

.products__item-title {
  font-family: "WorkSans-Regular", sans-serif;
  margin-bottom: 14px;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}

.products__item-text {
  font-weight: 300;
}

.products__item:nth-child(odd) {
  color: #fff;
}

.products__link {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 96px;
  padding: 19px 97px 19px 38px;
  background-color: #0e0d0d;
  position: relative;
  color: #fff;
  /* margin: 0 auto; */
  width: 242px;
  grid-column: 1 / -1;
}

.products__link svg {
  position: absolute;
  right: 4px;
  top: 3px;
}

.slogan {
  text-align: center;
  text-transform: uppercase;
  padding-top: 115px;
}

.slogan__text {
  font-family: "WorkSans-Medium", sans-serif;
  font-weight: 500;
  font-size: 40px;
}

.slogan__title {
  font-family: WorkSans-SemiBold, sans-serif;
  font-weight: 600;
  color: #f2a531;
  font-size: 300px;
  line-height: 1;
}

.slogan__img {
  margin: -145px auto 0;

  /* display: block; */
}

.partners {
  padding: 130px 0 150px;
}

.partners__inner {
  display: flex;
  justify-content: space-between;
  gap: 0 120px;
}

.partners__info {
  max-width: 580px;
  display: flex;
  flex-direction: column;
}

.partners__info-title {
  font-family: "WorkSans-Regular", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.3;
}

.partners__info-text {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: auto;
}

.partners__box-top {
  display: flex;
  justify-content: space-between;
  background-color: #f4f4e7;
  border-radius: 10px;
  gap: 0 19px;
  margin-bottom: 15px;
  position: relative;
}

.partners__box-top::before {
  position: absolute;
  content: "";
  background-image: url(/images/partners-logo.png);
  width: 63px;
  height: 56px;
  top: 30px;
  left: 20px;
}

.partners__box-list {
  padding-left: 24px;
  padding-bottom: 30px;
  margin-top: auto;
}

.partners__box-item + .partners__box-item {
  margin-top: 15px;
}

.partners__box-item {
  font-weight: 500;
  color: #000;
  padding-left: 39px;
  position: relative;
}

.partners__box-item::before {
  content: "";
  position: absolute;
  left: 0;
  background-image: url(/images/partners-arrow.svg);
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.partners__box-item span {
  color: #f2a531;
  font-weight: 600;
}

.partners__box-text {
  background-color: #0d1615;
  border-radius: 10px;
  padding: 30px 80px 30px 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

.partners__box-text span {
  color: #f2a531;
  font-weight: 700;
}

.blog {
  margin-bottom: 80px;
}

.blog__wrapper {
  border-radius: 20px;
  background-color: #f4f4e7;
  padding: 100px 0;
}

.blog__title {
  font-family: "WorkSans-Medium", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  color: #000;
}

.blog__items {
  display: grid;
  grid-template-columns: 580px auto;
  grid-template-rows: 1fr 1fr;
  gap: 32px 44px;
}

.blog__item-big {
  grid-row: 1/-1;
}

.blog__item-small {
  display: flex;
  align-items: center;
  gap: 0 24px;
}

.blog__item-info {
  color: #f2a531;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}

.blog__item-big .blog__item-img {
  margin-bottom: 32px;
}

.blog__item-titlelink {
  display: block;
  margin-bottom: 12px;
}

.blog__item-titlel {
  font-family: "WorkSans-Medium", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.footer {
  background-color: #0e0d0d;
  color: #fff;
  padding: 100px 0;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-right: 100px;
}

.footer__element-title {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer__item + .footer__item {
  padding-top: 15px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid #fff;
  font-size: 14px;
}

/* ------------------------------------------------ */

@media (max-width: 1600px) {
  .container-big {
    padding: 0;
  }
}

@media (max-width: 1280px) {
  .about__title {
    font-size: 140px;
  }

  .about__achievements {
    gap: 20px;
  }

  .about__progress-box {
    gap: 0 20px;
  }
}

@media (max-width: 980px) {
  .about__title {
    font-size: 100px;
  }

  .about__text {
    font-size: 24px;
  }

  .about__achievements {
    flex-wrap: wrap;
  }

  .about__stats {
    gap: 20px;
  }
}

@media (max-width: 870px) {
  .about__progress-text {
    font-size: 28px;
  }

  .about__progress-img {
    width: 100%;
    object-fit: cover;
    height: 340px;
  }

  .about__progress-box {
    flex-wrap: wrap;
  }
  .about__stats {
    flex-wrap: wrap;
  }
}

@media (max-width: 678px) {
  .about__stats-item {
    width: 100%;
  }
}

@media (max-width: 510px) {
  .about__achievement {
    flex-wrap: wrap;
  }

  .about__title {
    font-size: 64px;
  }

  .about__text {
    font-size: 18px;
  }

  .about__achievement-img {
    width: 100%;
  }

  .about__achievement-imbox {
    min-width: 100%;
  }

  .about__top {
    min-height: 440px;
  }

  .about__achievements {
    margin-bottom: 30px;
  }

  .about__stats {
    margin-bottom: 30px;
  }

  .about__progress-text {
    font-size: 22px;
  }

  .about {
    margin-bottom: 50px;
  }

  .about__progress-item {
    display: block;
  }

  .about__progress-item dd {
    margin-left: 0;
    margin-top: 15px;
  }
}
