@font-face {
  font-family: "NunitoSans";
  src: url("../fonts/NunitoSans-Variable.woff2") format("woff2-variations");
  src: url("../fonts/NunitoSans-Variable.woff2") format("woff2")
    tech("variations");
  font-weight: 300 700;
}

@font-face {
  font-family: "WorkSans-Light";
  src: url("../fonts/WorkSans-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "WorkSans-Regular";
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "WorkSans-Medium";
  src: url("../fonts/WorkSans-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "WorkSans-SemiBold";
  src: url("../fonts/WorkSans-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

body {
  font-family: "NunitoSans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #0e0d0d;
  background-color: #fdfdf0;
  line-height: 1.35;
}

.container {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}

.container-big {
  max-width: 1840px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__inner {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.menu__list {
  display: flex;
  gap: 0 30px;
}

.menu__link {
  text-transform: uppercase;
}

.header__contacts {
  display: inline-block;
  padding: 10px 40px;
  text-transform: uppercase;
  background-color: #0e0d0d;
  color: #fff;
  border-radius: 50px;
  /* font-size: 22px; */
}

.main {
  margin-bottom: 180px;
}

.about__top {
  color: #fdfdf0;
  text-align: center;
  background-image: url(/images/about-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  text-transform: uppercase;
  min-height: 748px;
}

.about__title {
  font-family: "WorkSans-SemiBold", sans-serif;
  font-weight: 600;
  font-size: 250px;
  line-height: 1;
  padding-top: 60px;
}

.about__text {
  font-family: "WorkSans-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.2;
}

.about__achievements {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}
